.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 1.25rem; 
}

.registrationCard {
  background: white;
  padding: 2.5rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 .125rem .625rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 28rem; 
  text-align: center;
  position: relative;
}

.title {
  font-size: 1.75rem; 
  font-weight: 300;
  color: #333;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
  text-align: left;
}


.input {
  padding: 0.75rem 1rem; 
  border: .0625rem solid #ddd;
  border-radius: 0.25rem; 
  font-size: 1rem; 
  background: #fafafa;
  width: 100%;
  resize: none;
}

.input:focus {
  outline: none;
  border-color: #4285f4;
  background: white;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submitButton {
  background: #4285f4;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem; 
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover:not(:disabled) {
  background: #3367d6;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.rulesContainer {
  margin-top: 2rem;
  text-align: left;
  color: #666;
}

.rulesTitle {
  font-weight: 500;
  margin-bottom: 0.75rem; 
  color: #333;
}

.ruleText {
  font-size: 0.875rem; 
  margin-bottom: 0.5rem; 
  padding-left: 1.25rem; 
}

.textCount {
  font-size: 0.875rem; 
}

.subheading {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color:#666;
}

.errorText {
  color: #d9534f;
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
  min-height: 1.25rem; 
}

.rulesList {
  list-style-position: inside;
}

.logoutButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: .5rem;
  transition: all 0.3s ease;
  font-size: 1rem;
  line-height: 1;
}

.logoutButton:hover {
  background: #f0f0f0;
  color: #333;
}

.successText {
  color: white;
  font-size: 1rem;
  background-color: green;
  padding: 1rem;
}

@media (max-width: 480px) {
  .registrationCard {
    padding: 1.875rem 1.25rem; 
  }

  .title {
    font-size: 1.5rem; 
  }
}
